/*
 * Project table component
 */

.spherex-project-table {
  text-align: left;
  font-size: 0.9rem;
  border-spacing: 0;
}

.spherex-project-table th, .spherex-project-table td {
  padding: 5px;
}

.spherex-project-table th {
  background-color: var(--spherex-c-blue-500);
  color: var(--spherex-c-neutral-000);
}

.spherex-project-table tbody tr:nth-child(odd) {
  background-color: var(--spherex-c-neutral-100);
}
