<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block meta_title %}SPHEREx Documentation{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', path='spherex.css')}}" />
  {% if current_path %}
  <link rel="canonical" href="https://spherex-docs.ipac.caltech.edu{{ current_path }}" />
  {% endif %}
</head>

<body>
  {% block page_header %}
  {% include "components/header.html.jinja" %}
  {% endblock page_header %}
  {% block content %}
  {% endblock content %}
</body>

</html>
