{% extends "base.html.jinja" %}

{% block meta_title %}SPHEREx Module Specifications (SSDC-MS){% endblock %}

{% block content %}
<h1>Module Specifications (SSDC-MS)</h1>

<p><a href="https://collaboration.ipac.caltech.edu/pages/viewpage.action?spaceKey=SPHEREx&title=Pipeline+Module+Descriptions">Pipeline
    diagram →</a>
</p>

{% include "components/projecttable.html.jinja" %}

{% endblock %}
