{% extends "base.html.jinja" %}

{% block meta_title %}SPHEREx Project Management (SSDC-PM){% endblock %}

{% block content %}
<h1>Project Management (SSDC-PM)</h1>

{% include "components/projecttable.html.jinja" %}

{% endblock %}
