{% extends "base.html.jinja" %}

{% block meta_title %}SPHEREx Data Products (SSDC-DP){% endblock %}

{% block content %}
<h1>Data Products (SSDC-DP)</h1>

{% include "components/projecttable.html.jinja" %}

{% endblock %}
