{% extends "base.html.jinja" %}

{% block meta_title %}SPHEREx Module Specifications (SSDC-MS){% endblock %}

{% block content %}
<h1>Module Specifications (SSDC-MS)</h1>

<p><a href="https://collaboration.ipac.caltech.edu/pages/viewpage.action?spaceKey=SPHEREx&title=Pipeline+Module+Descriptions">Pipeline
    diagram →</a>
</p>

{% if projects %}
<table class="sortable asc spherex-project-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Diagram</th>
      <th>Release</th>
      <th colspan="3">GitHub Activity</th>
      <th>SSDC Lead</th>
      <th>Project POC</th>
      <th>Approval</th>
      <th>Difficulty</th>
    </tr>
  </thead>
  <tbody>
    {% for doc in projects|sort(attribute="sortable_diagram_ref") %}
    <tr>
      <td><a href="{{ doc.url }}">{{ doc.handle }}</a></td>
      <td><a href="{{ doc.url }}">{{ doc.title }}</a></td>
      <td data-sort="{{doc.sortable_diagram_ref}}">{{ doc.diagram_ref }}</td>
      <td>{% if doc.github_release %}{{doc.github_release.tag}} {{doc.github_release.formatted_date}}{% else %}&mdash;{%endif%}</td>
      <td>{{ doc.formatted_latest_commit_date }}</td>
      <td style="min-width: 3em;">{% if doc.github_issues.open_issue_count > 0 %}<div class="icon-row"><a href="{{doc.github_issues.issue_url}}"><svg class="icon octicon-git-pull-request-16">
              <use xlink:href="#octicon-issue-opened-16"></use>
            </svg>&nbsp;{{ doc.github_issues.open_issue_count }}</a>{% endif %}</td>
      <td style="min-width: 3em;">{% if doc.github_issues.open_pr_count > 0 %}<a href="{{doc.github_issues.pr_url}}"><svg class="icon octicon-issue-opened-16">
            <use xlink:href="#octicon-git-pull-request-16"></use>
          </svg>&nbsp;{{ doc.github_issues.open_pr_count }}</a></div>{% endif %} </td>
      <td>{{ doc.ssdc_author_name }}</td>
      <td>{{ doc.project_contact_name }}</td>
      <td>{% if doc.approval_str %}{{ doc.approval_str }}{% endif %}</td>
      <td>{{ doc.difficulty|title }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>No documents available.</p>
{% endif %}
{% endblock %}
