{% extends "base.html.jinja" %}

{% block meta_title %}SPHEREx Operations Procedures (SSDC-OP){% endblock %}

{% block content %}
<h1>Operations Procedures (SSDC-OP)</h1>

{% include "components/projecttable.html.jinja" %}

{% endblock %}
