{% extends "base.html.jinja" %}

{% block title %}SPHEREx SSDC-DP Documents{% endblock %}

{% block content %}
<h1>SSDC-DP</h1>

<p>SPHEREx Data Products Documents</p>

<ul>
    {% for doc in category.projects %}
    <li>{{doc.handle}} &mdash; {{ doc.title }}</li>
    {% endfor %}
</ul>
{% endblock %}
