{% extends "base.html.jinja" %}

{% block meta_title %}SPHEREx Test Reports (SSDC-TR){% endblock %}

{% block content %}
<h1>Test Reports (SSDC-TR)</h1>

{% include "components/projecttable.html.jinja" %}

{% endblock %}
