{% extends "base.html.jinja" %}

{% block meta_title %}SPHEREx Technical Notes (SSDC-TN){% endblock %}

{% block content %}
<h1>SPHEREx Technical Notes (SSDC-TN)</h1>

{% include "components/projecttable.html.jinja" %}

{% endblock %}
