{% extends "base.html.jinja" %}

{% block meta_title %}SPHEREx Interfaces (SSDC-IF){% endblock %}

{% block content %}
<h1>Interfaces (SSDC-IF)</h1>

<p>Includes OIAs and ICDs that are not already in the JPL document system.</p>

{% include "components/projecttable.html.jinja" %}

{% endblock %}
