<header class="spherex-header">
  <a class="spherex-header__logo" href="{{url_for('get_homepage')}}">
    <img src="{{url_for('static', path='spherex-logo.png')}}">
  </a>
  <a class="spherex-header__title" href="{{url_for('get_homepage')}}">SPHEREx Documentation</a>
  <a class="button__secondary spherex-header__logout" href="/logout">Logout</a>
</header>
